#order.modal.fade{:tabindex => "-1", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          = t('carts.show.order')
      .modal-body
      = render 'current_cart_list'


      = form_tag order_cart_path do
        = label_tag('E-mail')
        = email_field_tag(:email)
        = submit_tag('Order', class: 'btn btn-success', action: 'order' )
        %button.btn.btn-default{"data-dismiss" => "modal"}  Close

