.panel-info.h1
  .panel-heading= t '.current_cart'

= render 'current_cart_list'

%br
%span= link_to t('.back'), products_path, class: 'btn btn-success'

- if @cart.products.count == 0 then
  %button.btn.btn-warning.disabled
    = t('.order')
- else
  %button.btn.btn-warning{ "data-toggle" => "modal", "data-target" => "#order" }
    = t('.order')

%span= link_to t('.empty_cart'), cart_path, method: :delete, class: 'btn btn-danger'

=render 'order'