-if action_result == 'product_added'
  .alert-success= Product.human_attribute_name('product_created')
-if action_result == 'product_deleted'
  .alert-danger= Product.human_attribute_name('product_deleted')
.panel-info.h1
  .panel-heading= t('.products')
%table.table
  %th= Product.human_attribute_name('product')
  %th= Product.human_attribute_name('price')
  %tbody
  - @products.each do |product|
    %tr
    %td= product.name
    %td= product.price
    %td
      = link_to t('.details'), product, class: 'btn btn-primary'
      = link_to t('.destroy'), product, method: :delete, data: { confirm: t('.are_you_shure') }, class: 'btn btn-danger'
      = link_to t('.buy'), add_cart_path(product_id: product.id), remote: true, class: 'btn btn-success'
%p= link_to t('.new'), new_product_path, class: 'btn btn-success'