-if action_result == 'product_added'
  .alert-success
-if action_result == 'product_deleted'
  .alert-danger Delete
%h1= t '.products'

%table.table
  %th= Product.human_attribute_name('product')
  %th= Product.human_attribute_name('price')
  %tbody
  - @products.each do |product|
    %tr
    %td= product.name
    %td= product.price
    %td= link_to t('.details'), product
    %td= link_to t('.destroy'), product, method: :delete, data: { confirm: t('.are_you_shure') }
    %td= link_to t('.buy'), add_cart_path(product_id: product.id), remote: true

%p= link_to t('.new'), new_product_path