<h1>New Product</h1>



<%= form_tag @product  do %>
  <%= label_tag :Name %>
  <%= text_field_tag :name %>
  <br>

  <%= label_tag :Description %>
  <%= text_area_tag :description %>
  <br>
  <%= label_tag :Price %>
  <%= number_field_tag :price %>
  <br>
<%= submit_tag 'Save!', class: 'btn btn-success' %>

<% end %>